@model AdventureWorks.Web.Models.Product.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductThumbNailPhoto)
        </dt>

        <dd>
            <img src="data:image/png;base64,@Model.ProductThumbNailPhoto" alt="Image" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductListPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductListPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
